section {
	max-width: 1000px;
	margin: 0 auto;
	padding: 90px 20px 20px;
	color: white;
}

h1 {
	text-align: left;
}

h2 {
	text-align: left;
}

.detail-container {
	display: flex;
	align-items: center;
	gap: 20px;
	margin: 12px 0;
}

.detail-container > :first-child {
	margin-right: auto;
}

.detail-container > :last-child {
	margin-left: auto;
}

.detail-container p {
	margin: 0;
	flex: 1;
}

.detail-container > p:first-child {
	text-align: left;
}

.detail-container > p:last-child {
	text-align: right;
}

.img-detail {
	width: 250px;
	height: 250px;
	object-fit: cover;
	flex-shrink: 0;
}

.detail-container-btn {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-top: 24px;
}

.detail-container-btn > :first-child {
	margin-right: auto;
}

.detail-container-btn > :last-child {
	margin-left: auto;
}

.detail-container-btn .btn {
	padding: 8px 12px;
	border: none;
	border-radius: 4px;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	background: #0019f8;
	color: #fff;
}

.detail-container-btn .btn:hover {
	background: #273cfd;
	color: #fff;
}

@media (max-width: 700px) {
	.detail-container {
		align-items: center;
	}

	.detail-container-btn {
		align-items: center;
	}

	.detail-container-btn .btn {
		text-align: center;
	}

    .img-detail{
        width: 125px;
	    height: 125px;
    }
}
