section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 90px 20px 20px;
    color: white;
}

h1, h2 {
    text-align: left;
}

.detail-container {
    display: flex;
    align-items: center;
    gap: 20px;
    /* Modification : passage de 12px à 17px pour ajouter les 5px d'écart */
    margin: 17px 0; 
}

.detail-container > :first-child {
    margin-right: auto;
}

.detail-container > :last-child {
    margin-left: auto;
}

.detail-container p {
    margin: 0;
    flex: 1;
    /* Modification : Taille de police fixée à 15px */
    font-size: 20px;
}

.detail-container > p:first-child {
    text-align: left;
}

.detail-container > p:last-child {
    text-align: left;
}

.img-detail {
    width: 300px; 
    height: auto;  
    object-fit: contain; 
    flex-shrink: 0;
}

.detail-container-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}

.detail-container-btn > :first-child {
    margin-right: auto;
}

.detail-container-btn > :last-child {
    margin-left: auto;
}

.detail-container-btn .btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    background: #0019f8;
    color: #fff;
}

.detail-container-btn .btn:hover {
    background: #273cfd;
    color: #fff;
}

@media (max-width: 700px) {
	p{
		font-size: 16px;
	}
    .detail-container {
        align-items: center;
    }

    .detail-container-btn {
        align-items: center;
    }

    .detail-container-btn .btn {
        text-align: center;
    }

    .img-detail{
        width: 125px;
    }
}