main { 
    padding:20px; 
    color: white;
}

form { 
    max-width:800px; 
    margin:20px auto; 
    display:flex; 
    flex-direction:column; 
    gap:10px;
} 

input[type=text], 
textarea { width:100%; padding:8px; }

.btn { 
    padding:8px 12px; 
    border-radius:4px; 
    border:none; 
    cursor:pointer; 
}

.input-title { 
    font-size:18px; 
    font-weight:bold; 
}

input[type=file]{
    color: black;
    background-color: white;

}

.btn-save { 
    background:#4CAF50; 
    color:#fff; 
    font-size:15px;
}

.btn-back { 
    background:red; 
    color:#fff; 
    text-decoration:none; 
    display:inline-block; 
    text-align:center; 
    padding:8px 12px; 
    border-radius:4px; 
}