main{
    padding:20px;
}

.manage-table { 
    width: 100%; 
    border-collapse: collapse; 
    margin: 20px 0; 
    
}
.manage-table th, .manage-table td { 
    border: 1px solid #ddd; 
    padding: 8px; 
    color: white; 
}
.manage-table th { 
    background: #f4f4f4; 
    text-align: left; 
    color: black;
}

.actions { 
    display: flex; 
    gap: 8px; }

.btn { 
    padding: 6px 10px; 
    border: none; 
    cursor: pointer; 
    border-radius: 4px; 
}

.btn-edit { 
    text-decoration: none;
    background: #4CAF50; 
    color: white; 
}
.btn-del { 
    text-decoration: none;
    background: #f44336; 
    color: white; 
}

.btn-archive { 
    text-decoration: none;
    background: orange; 
    color: white; 
}