RewriteEngine On

# Supprimer les extensions .php, .html, .js
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.js -f
RewriteRule ^(.*)$ $1.js [L]

<Files "config.php">
    Order Allow,Deny
    Deny from all
</Files>

<Files "dbconnexion.php">
    Order Allow,Deny
    Deny from all
</Files>

# Bloque les iframes externes (les autres sites ne peuvent pas utiliser mon site en iframe)
Header always set X-Frame-Options "DENY"

# Désactive la navigation dans les répertoires
Options -Indexes
